/* *{
border:red solid 1px;
}  */



body {
  /* overflow-x: hidden; */
  margin: 0;
  color: white;
  font-family: "Poppins";
  font-size: 1.2rem;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
li {
  font-size: 1rem;
  margin: 0.6em 0;
  width: 100%;
}

.fa-bars{
  color: black;
}

.fa-bars:hover{
  cursor: pointer;
}

.container {
  padding: 1rem 7%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 45px;
  width: 45px;
}

.hero-bg {
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5rem;
}

.hero-text-small {
  width: 50%;
  font-weight: 100;
  font-size: 1.2rem;
}

.hero-text-large {
  font-weight: 900;
  margin: 4rem 0;
  font-size: 3rem;
}

.hero-text-link {
  width: 100%;
  font-weight: 600;
  margin-top: 5rem;
  font-size: 1rem;
  color: #f8d436;
  text-decoration: underline;
}

.hero-text-link:hover {
  cursor: pointer;
}

.brands {
  padding: 1rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 92%;
  right: 0;
  background-color: white;
  height: 19vh;
  width: 70vw;
  box-shadow: rgb(221, 221, 221) 20px 30px 50px;
}

.brands-img {
min-width: 50px;
  min-height: 55px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.section-1 {
  overflow: hidden;
  margin: 1em 0;
  color: #222;
  display: flex;
  justify-content: space-between;
}

.section-2 {
  margin: 2em 0;
  color: #222;
  display: flex;
  justify-content: space-between;
}

.left-section-1 {
  padding: 5em 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.right-section-1 {
  min-width: 20vw;
  padding: 7em 1em 0;
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: 60%;
  box-shadow: rgb(221, 221, 221) 20px 30px 50px;
}

.left-section-1 .text-small{
  width: 80%;
}

.left-section-2 {
  padding: 1rem 7%;
}

.left-section-3 {
  width: 50vw;
  height: 100%;
}

.right-section-4 {
  width: 50vw;
  height: 100%;
}

.right-section-2 {
  padding: 1em 1em 0 1em;
  width: 40%;
}

.section-3 {
  overflow: hidden;
  margin: 1em 0;
  display: flex;
  gap: 3em;
  color: black;
}

.s3-img {
  width: 100%;
  height: 100%;
}

.s4-img {
  width: 100%;
  height: 100%;
}

.gr-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.blockquote {
  line-height: 1.6rem;
  font-style: italic;
}

.blockquote-1 {
  line-height: 2.3rem;
  font-style: italic;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.profile-body {
  width: 100%;
  line-height: 0.8em;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.profile-name{
  line-height: 1.2rem;
  font-size: 1rem;
}

.profile {
  padding: .8rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.text-small {
  font-weight: 100;
  font-size: 1.2rem;
}

.text-xs {
  font-weight: 100;
  font-size: 1rem;
}

.text-grey {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-large {
  font-weight: 900;
  font-size: 2.5rem;
}

.text-md {
  font-weight: 800;
  font-size: 1.9rem;
}

.text-light-grey {
  color: rgba(0, 0, 0, 0.3) !important;
}

.section-4 {
  overflow: hidden;
  margin: 8em 0;
  color: #222;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.right-section-3 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30vw;
}
.left-section-4 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
}
.quote-card {
  position: absolute;
  left: 24%;
  margin-top: 19%;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  width: 27vw;
  box-shadow: rgb(221, 221, 221) 10px 20px 50px;
  background-color: white;
  border-radius: 0.3em;
  line-height: 0.7em;
}

.quote-card-1 {
  position: absolute;
  right: 24%;
  margin-top: 19%;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  width: 27vw;
  box-shadow: rgb(221, 221, 221) 10px 20px 50px;
  background-color: white;
  border-radius: 0.3em;
  line-height: 0.7em;
}



.section-5 {
  margin: 8em 0 3em 0;
  color: black;
}

.cards-container {
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: 15vw;
  padding: 0.9em;
  height: 30vh;
}

.card-shadow {
  box-shadow: rgb(221, 221, 221) 10px 20px 50px;
  border-radius: 0.3rem;
  padding: 2rem 1rem;
}

.card-body {
  margin: 1rem 0;
}

.card-header {
  font-size: 1.4rem;
}

.card-footer {
  margin-top: auto;
}

.text-largest {
  font-size: 3.7rem;
  font-weight: 900;
}

.circle-bg{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.section-6 {
  position:relative;
  padding: .3rem 1rem 1em 1em;
  width: 75vw;
  background-color: #fafafa;
  color: rgb(94, 92, 92);
}

.footer {
  margin-top: -9rem;
  background-color: #444935;
}

.footer li:hover{
cursor: pointer;
color: white;
}

.contact{
  padding-top: 10rem;
}

.row {
  display: flex;
  gap: 2em;
}

.text-light {
  color: #878e70;
}
ul {
  list-style: none;
  text-decoration: none;
}

footer p {
  font-size: 1.2rem;
}

.services{
  justify-content: space-between;
}

.ad {
  width: 100%;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 0.8rem;
}

.fa-brands{
  color: #5e6548;
  margin: 0 0.2em;
}

.fa-brands:hover{
  color: white;
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
}

hr{
  border: 0.1px solid #687053;
}

@media (min-width:769px) and (max-width:1200px){

  .section-1 {
    overflow: hidden;
    margin: 1em 0;
    color: #222;
    display: flex;
    justify-content: space-between;
  }

  .left-section-1 {
    padding: 5em 0 0 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .right-section-1 {
    padding: 7em 1em 0;
    display: flex;
    flex-direction: column;
    height: 60%;
    box-shadow: rgb(221, 221, 221) 20px 30px 50px;
  }

  .text-small {
    font-size: .9rem;
  }

  .blockquote {
    line-height: 1.6rem;
    font-style: italic;
  }
  
  .blockquote-1 {
    line-height: 2rem;
    font-style: italic;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  .text-xs {
    width: 85%;
    font-size: .8rem;
  }
  
  .text-large {
    font-size: 2.2rem;
  }
  
  .text-md {
    font-size: 1.9rem;
  }

  .gr-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

}




